<div class="container mt-5"><br><br>
    <div class="row">
        <div class="col-md-10">
            <h2 class="">Welcome to Angular</h2><br>
            <p class="opacity-75">You're Successfully Working on Angular</p>
            <p class="opacity-75">✧*｡٩(ˊᗜˋ*)و✧*｡</p>
        </div>
    </div><br><br>
    <div class="row">
        <div class="col-md-4">
            <h3>Resources</h3>
            <br>
            <a >/employee</a><br>
            <a >/designation</a><br>
            <a >/logincre</a><br>
        </div>
    </div><br>
    <div class="row mt-3">
        <h6>To access and modify resources, you can use any HTTh6 method:</h6>
    </div>
    <div class="row">
        <div class="col-md-6 mt-3">
            <h6 class="m-2 d-inline bg-white">Post</h6> 
            <h6 class="m-2 d-inline bg-white">Put</h6> 
            <h6 class="m-2 d-inline bg-white">Get</h6>
            <h6 class="m-2 d-inline bg-white">Delete</h6>
        </div>
        <h6 class="m-3">undefined</h6>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <h3>Documentation</h3>
        </div>
        <br>
        <br>
        <a href="#" class="text-dark">README</a>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="row mt-4 text-center">
        <div class="col-md-12">
            <div class="">
                <div class="">
                    <h6>To replace this page, create a <a>./public/index.html</a> file.</h6>
                </div>
            </div>
        </div>
    </div>
</div>